<!DOCTYPE html>
{% load crispy_forms_tags %}
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<h1>index</h1>
<p>
  My Bonnie lies over the ocean.

  My Bonnie lies over the sea.

  My Bonnie lies over the ocean.

  Oh, bring back my Bonnie to me.
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}}">
    {{message}}

  </div>
  {% endfor %}
  {%endif%}

</p>
<a href="{% url 'register'%}" class="btn btn-info" role="button">Register</a>
<a href="{% url 'login'%}" class="btn btn-info" role="button">Sign in</a>

</body>
</html>
