{% extends "advpro/advpro_base.html" %}

{% block body_block %}
<div class="jumbotron">
<h1>Welcome to schools details</h1>
    <h2>school details</h2>
    <p>name:{{school_detail.name}}</p>
    <p>Principal: {{school_detail.principal}}</p>
    <p>Location:{{school_detail.location}}</p>
    <h3>Students:</h3>
    {% for student in school_detail.students.all %}
    <p>{{student.name}}who is{{student.age}}years old.</p>


    {% endfor %}

</div>
<div class="container">
    <p><a class="btn btn-warning" href="{% url 'advpro:update' pk=school_detail.pk %}">update</a></p>


    </div>
{% endblock %}
